@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

.containerAgenda{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.tituloAgenda{
    margin-top: 50px;
    font-family: Inter;
    color: #FF9200;
    font-weight:Bold;
    font-size: 24px;
}

.seguraCard{
    width: 60vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.duplaCard{
    width: 390px;
}

.duplaCard > :only-child {
    margin-right: 610px;
}

.botoesNavegacao{
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.btnPagina{
    background-color: white;
    transition: color 0.3;
    cursor: pointer;
}


.btnPagina:hover{
    color: blue;
    text-decoration: underline;
}
