@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

.containerAgenda{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tituloAgenda{
    margin-top: 50px;
    font-family: Inter;
    color: #FF9200;
    font-weight:Bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 1rem;
}

.seguraCard{
    width: 60vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}



.botoesNavegacao{
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.btnPagina{
    background-color: white;
    transition: color 0.3;
    cursor: pointer;
}

@media (max-width : 678px){
    .seguraCard{
        width: 100vw;
        flex-direction: column;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}


.btnPagina:hover{
    color: blue;
    text-decoration: underline;
}
