body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
#Menu{
    background-color: #1c1c1c;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
#Menu img{
    width: 8rem;
}
.buttonLogin{
    background-color: #1c1c1c;
    border: solid 2px #ff9200;
    padding: .1rem 1.2rem;
    outline: none;
    color: white;
    border-radius: 20px;
    font: 1rem 'Nunito', sans-serif;

}
.buttonCadastro{
    background-color: #ff9200;
    border: solid 2px #ff9200;
    padding: .1rem 1.2rem;
    outline: none;
    color: #1c1c1c;
    border-radius: 20px;
    font: 700 1rem 'Nunito', sans-serif;
    margin-left: -15px;
}
#Menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#Menu ul li{
    margin-left: 2rem;
    color: #fff;
    font-size: 1.2rem;
}
#Menu ul li a{
    color: #fff;
    font-family: 'Nunito', sans-serif;
}
#cadastro{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#cadastro .container{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}
#Login{
    margin-top:5rem;
    background-size: cover;
   
}
#Login .container{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#cadastro .cadastro1 {
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
}
.cadastro .ordenar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.ordenar .labels{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.ordenar .labels p{
    margin-bottom: 2rem;
}
.ordenar .inputs{
    display: flex;
    flex-direction: column;
}
#cadastro .cadastro1 input{
    margin: .5rem;
    padding: .5rem;
    border-radius:  10px;
    border: none;
    outline: none;
}
#cadastro .cadastro2{
    background-color: #1c1c1c;
    padding-left: 2rem;
    padding-right: 2rem;
    display: hidden;
    visibility: hidden;
    opacity: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
#cadastro .cadastro3{
    background-color: #1c1c1c;
    padding-left: 2rem;
    padding-right: 2rem;
    display: hidden;
    visibility: hidden;
    opacity: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

