body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
#cadastro{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5rem;
   height: 100vh;
}
#cadastro .container{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.container .cadastro label{
    font: 400 .9rem 'Nunito', sans-serif;
}
.container .cadastro .titulo{
    font-family:  'inter';
    color: #ff9200;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}
#cadastro .cadastro1 {
    background-color: #f4f2f2;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    padding: 1rem 3rem;
    border-radius: 10px;
    box-shadow:0px 4px 7px rgba(0, 0, 0, 0.25);
    width: 25rem;
}

.inputData{
    width: 40%;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    width: 100%;
}
.cadastro1 button{
    background-color: #1c1c1c;
    padding: .5rem;
    border-radius: 5px;
    outline: none;
    border: none;
width: 45px;
height: 45px;
margin-right: 10px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
margin-top: 1rem;
}
.setas{
    width:30px;
    height: 25px;
}
.sucesso{
    width: 30px;
}
.inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inputs .data{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contencao{
    display: grid;
    grid-template-columns: .4fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#cadastro .cadastro1 input{
    margin: .5rem;
    padding: .5rem;
   
    background-color: #f4f2f2;
    border: none;
    border-bottom:2px solid  #1c1c1cca;
   outline: none;
}
#cadastro .cadastro1 input:focus,
#cadastro .cadastro3 input:focus{
    border-bottom:2px solid  #ff9200;
    background-color: white;
}
#cadastro .cadastro2{
    background-color: #f4f2f2;
    padding: 2rem 4rem;
    display: none;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 17rem;
    border-radius: 10px;
    box-shadow:0px 4px 7px rgba(0, 0, 0, 0.25);
}

#cadastro .cadastro2 button.estagio{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #ff9200;
    background-color: white;
    height: 2.5rem;
    transition: .2s;
    margin-top: 1rem;
    cursor: pointer;
    font: 700 1rem 'Nunito', sans-serif;
}

#cadastro .cadastro2 button.clicado{
    background-color: #ff9200;
    color: #ffffff;
    font: 700 1rem 'Nunito', sans-serif;
}
.divButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
}

.divButtons button{
    background-color: #1c1c1c;
    padding: .5rem;
    border-radius: 5px;
    outline: none;
    border: none;
width: 45px;
height: 45px;
margin-right: 10px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}
#cadastro .cadastro3{
    background-color: #f4f2f2;
    padding: 2rem 4rem;
    display: none;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border-radius: 10px;
    box-shadow:0px 4px 7px rgba(0, 0, 0, 0.25);
  
}
#cadastro .cadastro3 input{
    padding: .5rem .2rem;
    margin-bottom: 1rem;
    background-color: #f4f2f2;
    border: none;
    border-bottom:2px solid  #1c1c1cca;
   outline: none;
}
#cadatro .cadastro label{
    margin-bottom: 1rem;
}
.inputsLocal{
    width: 100%;
}
.inputsLocal input{
    width: 100%;
}
#cadastro .cadastro3 select{
    background-color: #f4f2f2;
    border: none;
    border-bottom:2px solid  #1c1c1cca;
   outline: none;
   height: 1.5rem;
}
#cadastro .cadastro3 select:focus{
    border-bottom:2px solid  #ff9200;
    background-color: white;
}

.cidadeUF{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}



@media(max-width:768px) {
#cadastro .cadastro1{

    width: 20rem;
}

}