@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

.containerDash{
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.graficosUsuario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 100vh;

}


.graficoBarra{
    width: 1000px;
    height: 500px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    box-shadow: -15px 15px 0px -5px #FF9200;
}

.tituloGraficoBarra{
    margin-bottom: 20px;
    font-size: 26px;
}


.kapis{
    margin-top: 50px;
    display: flex;
    width: 90vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.media{
    width: 404px;
    height: 410px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: -15px 15px 0px -5px #FF9200;
}

.tituloAvaliacao{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Inter';
    margin-top: 50px;
}

.avaliacao{
    font-size: 75px;
    width: 100px;
    font-weight: 400;
    font-family: 'Inter';
}

.subTituloAvaliacao{
    font-size: 32px;
    font-weight: 400;
}

.rankingTreino{
    width: 404px;
    height: 410px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: -15px 15px 0px -5px #FF9200;
}

.tituloRank{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Inter';
}

.itensRank{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
}

.pessoaRank{
    display: flex;
    margin-top: 15px;
    align-items:first baseline;
    font-size: 28px;

}


.posicaoRank{
    width: 300px;
    height: 120px;
    display: flex;
    font-size: 25px;
}

.spanPosicao{
    font-weight: bold;
    margin-right: 10px;
}