@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Karma:wght@300&display=swap');

.card{
    width: 900px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Inter;
}

.match{
    height: 180px;
    width: 700px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.infos_match{
    display: flex;
    width: 500px;
    height: 100px;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.pessoa{
    width: 150px;
    height: 140px;
    margin-right: 20px;
}

.nome_match{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
}

.localizacao{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.marcador{
    margin-right: 5px;
    width: 15px;
}

.conversar{
    width: 100px;
    height: 44px;
    border-radius: 15px;
    background: #1C1C1C;
    color: white;
    font-family: Inter;
    font-size: 14px;
    cursor: pointer;
    margin-top: 80px;
}
