@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Karma:wght@300&display=swap');

.card{
    width: min-content;
    height: 170px;
    border-radius: 10px;
    background: #D9D9D9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Inter;
    position: relative;
}

.contencaolog{
    height: 180px;
    width: 700px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.infos_match{
    display: flex;
    width: 500px;
    height: 100px;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.pessoa{
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin-right: 20px;
    cursor: pointer;
}

.nome_match{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
    cursor: pointer;
}

.localizacao{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.marcador{
    margin-right: 5px;
    width: 15px;
}

.conversar{
    width: 100px;
    height: 44px;
    border-radius: 15px;
    background: #1C1C1C;
    color: white;
    font-family: Inter;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}
.match{
    display: flex;
    flex-direction: row;
}
.contencaolog{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .card{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 350px;
        margin: 0;
        width: 200px;
    }
    .contencaolog{
        flex-direction: column;
        margin: 0;
        margin-top: 2rem;
    }
    .localizacao{
        justify-content: center;
        align-items: center;
    }
    .match{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
    }
    .pessoa{
        margin: 0;
    }
    .infos_match{

        justify-content: space-around;
    }
    .conversar{
        right:inherit;
    }
}