@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.card{
    width: min-content;
    height: 170px;
    border-radius: 10px;
    background: #D9D9D9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Inter;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.avaliacao{
    height: 180px;
    width: 700px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.infosAvalia{
    display: flex;
    width: 500px;
    height: 100px;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
}

.nomeAvalia{
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    cursor: pointer;
}

.pessoaAvaliar{
    width: 110px;
    height: 100px;
    margin-right: 20px;
    cursor: pointer;
}

.avaliar{
    width: 110px;
    height: 44px;
    border-radius: 15px;
    background: #1C1C1C;
    color: white;
    font-family: Inter;
    font-size: 20px;
    cursor: pointer;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estrela{
    width: 25px;
    margin-left: 10px;
}


@media (max-width: 768px) {
    .card{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        width: 200px;
        height: 350px;
        
    }
    .match{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 1rem;
    }
    .txtcard{
        margin-top: 10px;
    }

    
}