@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

.containerDev{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 50vh;
}
.containerDev h1{
    font-family: inter;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
}

h2{
    font-family: inter;
    font-size: small;
    color: #FF9200;
}

.imgDev{
    width: 200px;
}

