@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

.containerConfig{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.btnAltera.active,
.btnSair.active {
  background-color: #FFEBB9;
}

.botoesConfig{
    height: 100vh;
    width: 25vw;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.btnAltera{
    background-color: white;
    font-family: 'Inter';
    width: 335px;
    height: 70px;
    font-size: 20px;
    margin-top: 90px;
    cursor: pointer;
    align-items: center;
    transition: color 0.3s;
}

.btnSair{
    background-color: white;
    font-family: 'Inter';
    font-size: 20px;
    color: red;
    margin-top: 90px;
    cursor: pointer;
}

.telaConfig{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
