*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerHome{
    margin-top: 100px;
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
}
