@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

.containerHomeLogado{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tituloHomeLogado{
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Inter;
    font-weight: bold;
    color: #FF9200;
}

.botoesNavegacao{
    width: 20vw;
    display: flex;
    justify-content: space-evenly;

}

.btnPagina{
    background-color: white;
    transition: color 0.3;
    cursor: pointer;
}


.btnPagina:hover{
    color: blue;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .containerHomeLogado{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .tituloHomeLogado{
        font-size: 24px;
        margin-bottom: 30px;
        margin-top: 30px;
        font-family: Inter;
        font-weight: bold;
        color: #FF9200;
    }

    .seguraCardMatch{
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .botoesNavegacao{
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 30px;
        font-size: 15px;
    }

    .btnPagina{
        background-color: white;
        transition: color 0.3;
        cursor: pointer;
    }

}
