@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}


.containerHomeLogado{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tituloHomeLogado{
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 'Inter';
    color: #FF9200;
}

.botoesNavegacao{
    margin-top: 40px;
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
}

.btnPagina{
    background-color: white;
    transition: color 0.3;
    cursor: pointer;
}


.btnPagina:hover{
    color: blue;
    text-decoration: underline;
}

