.navlogadoAdm{
    width: 5%;
    height: 100%;
    background-color: #1C1C1C;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoAdm{
    width: 60px;
    height: 100px;
    /* border:2px solid #ff9200; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #FFFFFF;
}

.icoAdm{
    width: 200px;
    height: 200px;
}

.seguraFunc{
    width: 100%;
    height: 70%;
    /* border: 3px solid green;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.exportaAdm{
    width: 60px;
    height: 100px;
    background-color: transparent;
    /* border-bottom: 3px solid #FFFFFF; */
}

.imgBtnAdm{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sairAdm{
    width: 60px;
    height: 200px;
    /* border:2px solid #ff9200; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #FFFFFF;
}

