.containerPerfil{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
}



.infos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-right: 500px;
}

.foto{
    margin-right: 80px;
    border-radius: 120px;
    display: flex;
    width: 190px;
    height: 190px;

}

.imgPerfil{
    width: 190px;
    height: 190px;
}

.nomeUsuarioPerfil{
    margin-bottom: 20px;
    font-size: 32px;

}


.informacaoes{
    display: flex;
    justify-content: center;
}

.metas{
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
}

.meta{
    font-family: inter;
    font-size:  40px;
    color: #FF9200;
}

.btnMeta{
    width: 531px;
    height: 60px;
    background-color: #FF9200;
    color: white;
    font-family: inter;
    font-size: 36px;
    border-width: 0;
    border-radius: 67px;
    cursor: pointer;
}


.treinosRealizados{
    font-weight: bold;
}

.graficosUsuario{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 80vh;
}


.graficoBarra{
    width: 1237px;
    height: 574px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: -30px 27px 0px -5px #FF9200;
    margin-top: 100px;
}

.tituloGraficoBarra{
    margin-bottom: 20px;
    font-size: 26px;
}


.kapis{
    margin-top: 50px;
    display: flex;
    width: 81vw;
    justify-content: space-around;
    align-items: center;
}

.media{
    width: 404px;
    height: 421px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: -25px 25px 0px -5px #FF9200;
}

.tituloAvaliacao{
    font-size: 30px;
    font-weight: 550;
    margin-top: 50px;
}

.avaliacao{
    font-size: 98px;
}

.subTituloAvaliacao{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

.rankingTreino{
    width: 404px;
    height: 421px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-shadow: -25px 25px 0px -5px #FF9200;
}

.tituloRank{
    font-size: 26px;
    font-weight: 550;
    margin-top: 50px;
}

.itensRank{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 100px;
    justify-content: space-between;
}

.pessoaRank{
    display: flex;
    margin-top: 15px;
    align-items:first baseline;
    font-size: 28px;

}


.posicaoRank{
    font-weight: bold;
    margin-right: 10px;
}


@media(max-width: 768px){
    .infos {
        flex-direction: column;
    }

    .foto {
        margin-right: 0;
        margin-bottom: 20px;
        align-self: center;
    }

    .metas {
        padding: 0;
    }

    .graficoBarra {
        margin-top: 100px;
        width: 600px;
    }

    .tituloGraficoBarra{
        font-weight: 500;
    }

    .kapis {
    
        align-items: center;
    }

    .media,
    .rankingTreino {
        width: 60%;
        max-width: none;
        height: 300px;
        margin-bottom: 20px;
        margin-top: 20px;
        
    }

    .rankingTreino{
        margin-left: 50px;
    }

    .tituloAvaliacao {
        font-size: 24px;
    }

    .avaliacao {
        font-size: 36px;
    }

    .subTituloAvaliacao {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .itensRank {
        margin-top: 20px;
    }

    .tituloRank{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .pessoaRank {
        font-size: 16px;
    }
}