*{
    margin: 0;
    padding: 0;
} 

.seguraBrad{
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnConfig{
    background-color: transparent;
}

.imgConfig{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.containerPerfil{
    display: flex;
    width: 90vw;
    margin-left: 75px;
    height: 45vh;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid green; */
}

.containerPerfil2{
    width: 90vw;
    height: 100vh;
    margin-top: 80px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    /* border: 1px solid red; */
}

.seguraBtnPerfil{
    margin-top: 40px;
    margin-right: 100px;
    /* border: 1px solid blue; */
    width: 90%;
    height: 10%;
    display: flex;
    align-items: end;
    justify-content: flex-start;
}

.btnFotos{
    border: 2px solid #8888;
    border-bottom: none;
    width: 200px;
    height: 30px;
    cursor: pointer;
    background-color: #ffff;
}

.btnGraficos{
    margin-left: 20px;
    border: 2px solid #8888;
    border-bottom: none;
    width: 200px;
    height: 30px;
    cursor: pointer;
    background-color: #ffff;
}



.seguraPerfil{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #8888;
    border-radius: 10px;
}



.infos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-right: 20%;
}

.fotosInfo{
    display: flex;
    
}

.infosMatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    margin-right: 20%;
    align-items: center;
    /* border: 1px solid black; */

}

.descricao{
    font-size: 20px;
}

.foto{
    margin-right: 80px;
    border-radius: 120px;
    display: flex;
    width: 190px;
    height: 190px;

}

.imgPerfil{
    width: 190px;
    height: 190px;
    border-radius: 120px;
}

.nomeUsuarioPerfil{
    margin-bottom: 20px;
    font-size: 32px;

}


.informacoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.metas{
    width: 50vw;
    height: 110px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.metasMatch{
    width: 50vw;
    height: 110px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.meta{
    font-family: inter;
    font-size:  40px;
    color: #FF9200;
}

.btnMeta{
    width: 531px;
    height: 60px;
    background-color: #FF9200;
    color: white;
    font-family: inter;
    font-size: 36px;
    border-width: 0;
    border-radius: 67px;
    cursor: pointer;
}


.treinosRealizados{
    font-weight: bold;
}

.info2{
    width: 45vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid plum; */
}

.btnConversaMatch{
    width: 110px;
    height: 30px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    background: #FF9200;
}


.seguraFeedPerfil{
    width: 80%;
    height: 90vh;
    margin-bottom: 10px;
    margin-top: 90px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    border: 2px solid #8888;
    border-radius: 10px;

}



@media(max-width: 768px){
    .infos {
        flex-direction: column;
    }

    .foto {
        margin-right: 0;
        margin-bottom: 20px;
        align-self: center;
    }

    .metas {
        padding: 0;
    }

    .graficoBarra {
        margin-top: 100px;
        width: 600px;
    }

    .tituloGraficoBarra{
        font-weight: 500;
    }

    .kapis {
    
        align-items: center;
    }

    .media,
    .rankingTreino {
        width: 60%;
        max-width: none;
        height: 300px;
        margin-bottom: 20px;
        margin-top: 20px;
        
    }

    .rankingTreino{
        margin-left: 50px;
    }

    .tituloAvaliacao {
        font-size: 24px;
    }

    .avaliacao {
        font-size: 36px;
    }

    .subTituloAvaliacao {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .itensRank {
        margin-top: 20px;
    }

    .tituloRank{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .pessoaRank {
        font-size: 16px;
    }
}