*{
    margin: 0;
    padding: 0;
}


.containerPerfil{
    display: flex;
    width: 80vw;
    margin-left: 200px;
    height: 80vh;
    justify-content: center;
    flex-direction: column;
}

.containerPerfil2{
    height: 20vh;
    width: 100vw;
    justify-content: flex-start;
    margin-bottom: 100px;
}



.infos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-right: 20%;
}

.descricao{
    font-size: 20px;
}

.foto{
    margin-right: 80px;
    border-radius: 120px;
    display: flex;
    width: 190px;
    height: 190px;

}

.imgPerfil{
    width: 190px;
    height: 190px;
    border-radius: 120px;
}

.nomeUsuarioPerfil{
    margin-bottom: 20px;
    font-size: 32px;

}


.informacaoes{
    display: flex;
    justify-content: center;
}

.metas{
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
}

.meta{
    font-family: inter;
    font-size:  40px;
    color: #FF9200;
}

.btnMeta{
    width: 531px;
    height: 60px;
    background-color: #FF9200;
    color: white;
    font-family: inter;
    font-size: 36px;
    border-width: 0;
    border-radius: 67px;
    cursor: pointer;
}


.treinosRealizados{
    font-weight: bold;
}

.info2{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}



@media(max-width: 768px){
    .infos {
        flex-direction: column;
    }

    .foto {
        margin-right: 0;
        margin-bottom: 20px;
        align-self: center;
    }

    .metas {
        padding: 0;
    }

    .graficoBarra {
        margin-top: 100px;
        width: 600px;
    }

    .tituloGraficoBarra{
        font-weight: 500;
    }

    .kapis {
    
        align-items: center;
    }

    .media,
    .rankingTreino {
        width: 60%;
        max-width: none;
        height: 300px;
        margin-bottom: 20px;
        margin-top: 20px;
        
    }

    .rankingTreino{
        margin-left: 50px;
    }

    .tituloAvaliacao {
        font-size: 24px;
    }

    .avaliacao {
        font-size: 36px;
    }

    .subTituloAvaliacao {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .itensRank {
        margin-top: 20px;
    }

    .tituloRank{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .pessoaRank {
        font-size: 16px;
    }
}