@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Karma:wght@300&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0 0 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body{
    padding: 0 !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior:smooth;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}

/* #fim reset */
.Meucontainer{
    width: 80%;
    height: 50vh;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Meucontainer .icon{
    width: 25px;
    margin-left: 5px;
}
#carrouselPrincipal{
    width: 100vw;
    position: relative;
}

#prev-banner{
    position: absolute;
    top: 50%;
    background-image: url('../img/prev.png');
  }
  
  #next-banner{
    background-image: url('../img//next.png');
    position: absolute;
    top: 50%;
    right: 1rem;
  }
  
section{
    margin-bottom: 10%;
}

#sobre{
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    height: 500px;
    text-align: center;
   margin-bottom: 15rem;

}
.containerGrid{
    margin-top: 125px;
    width: 80%;
}
.containerGrid img{
    width: 100%;

 
}
.title{
    font-size: 30px;
    font-weight: 700;
    color:#ff9200 ;
    margin-bottom: 10px;
  
}
.text{
    font-size:1rem;
}

#propaganda{
    width: 100vw;
    height: 500px;
    background-image: url('../img/banner.jpeg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 10rem;
    position: relative;
}
#propaganda .textoEmCima{
   position: absolute;
}
#propaganda .sobreposicao{
    width: 100%;
    height: 100%;
    background-color: #00000089;
    position: absolute;
    top: 0;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
#propaganda .textoEmcima{
    width: 80%;
    position: relative;
}
#propaganda .text{
    color: white;
}
.botaoinscreva{
    background-color: #ff9200;
    outline: none;
    border: none;
    padding: .75rem 2rem;
    border-radius: 10px;
    position: absolute;
   right: 0;
    bottom: -7rem;
    font-weight: 700;
    transition: .3s;
    cursor: pointer;
}

.botaoinscreva:hover{
    transform: scale(1.09);
    background-color: #098ff5;
    color: white;
}
#comentarios{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#desenvolvedores{
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
    text-align: center;
}
.global-page-container {
	width: 100%;
	display: inline-block;
  margin: auto;
  height: 100%;
  position: relative;
}

.watch-slider, .watch-slider2 {
  padding: 80px 0 60px 0;
  overflow: hidden;

}

.watch-slider .slide, .watch-slider2 .slide {
  transform: scale(0.6);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  outline: none !important;
 
}

.watch-slider .slide.slick-center, .watch-slider2 .slide.slick-center {
  transform: scale(1);
}
.watch-slider2 img{
    width: 250px;
margin-bottom: 1rem;
    
}

.watch-slider2 .slide{
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
.desc{
    font-size: 1.05rem;
    font-weight: 700;
    color: #ff9200;
    margin-bottom: 1rem;
}
.name{
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
}
.arrow {
  display: inline-block;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  cursor: pointer;
  vertical-align: middle;
}

#arrow-prev {
  background-image: url('../img/prev.png');
  position:absolute;
  top: 50%;
  left: 1rem;
}

#arrow-next {
  background-image: url('../img/next.png');
    position:absolute;
    top: 50%;
    right: 1rem;
}
#arrow-prevdev {
    background-image: url('../img/prev.png');
    position:absolute;
    top: 50%;
    left: 1rem;
  }
  
  #arrow-nextdev {
    background-image: url('../img/next.png');
      position:absolute;
      top: 50%;
      right: 1rem;
  }
.titleBranco{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
#ajuda{
    width: 100vw;
    height: 500px;
    background-image: url('../img/BannerPipefy.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#ajuda .text{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
#ajuda button{
    padding: .75rem 2rem;
    background-color: #098ff5;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 700;
    transition: .3s;
    font-size: 1rem;
    margin-top: 2rem;
}
#ajuda button:hover{
    transform: scale(1.09);
    background-color: #ff9200;
    cursor: pointer;
}


.description{
   
    background-color: #00000089;
height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    top: 50%;
}
footer{
    background-color: #252525;
    width: 100%;
    height: min-content;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
}
footer .logoFooter{
    width: 300px;
}
footer .menu ul{
    display: flex;
    font-weight: 700;
    justify-content: space-around;
    margin-top: 2rem;
}
footer .name{
    color: white;
}
footer .social icon{
    cursor: pointer;
}
footer .contact{
    margin-top: 2rem;
}

footer .contact .desc{
    color: #098ff5;
    margin-top: .75rem;
    margin-left: .5rem;
}
footer .contact div{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

}
footer .social .name, footer .contact .name{
    font-size: 1rem;
    
}
footer .contact .desc{
    font-size: .85rem;
}
footer .menu ul li {
    margin-right: 1rem;
   

}
footer .menu ul li a{
    color: white;
    size: 1.05;
    transition: .3s;
}
footer .menu a{
    font-size: 1rem;
}
footer .menu a:hover{
    color: #ff9200;
    font-size: 1.1rem;
    cursor: pointer;
}

.divisao{
    height: 2px;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
}
footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
footer .icon{
    width: 30px;
}
@media (min-width : 768px) {
    .logo{
        width: 200px;
    }
    .text{
        font-size: 1.5rem;
    }
    #sobre .fundo{
        display: block;
        opacity: 1;
        visibility: visible;
        
        
    }
    #menu{
        background-color: transparent;
        display: flex;
        visibility: visible;
        opacity: 1;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0;
    }
    #menu #links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #menu .icon{
        display: none;
    }
    .Meucontainer .icon{
        display: none;
    }
    #sobre .fundo{
        width: 50%;
      
    }
    .containerGrid{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        align-items: center;
        
    }
    #propaganda .sobreposicao{
        position: absolute;
        width: 50%;
        right: 0;
    }
    .botaoinscreva{
        font-size: 1rem;
       
    }
    .watch-slider2 img{
        width: 100vw;
        margin-left: 0%;
        
    }
    footer .container{
        flex-direction: row;
    }
    footer .menu ul {
        flex-direction: column;
    }
    footer .menu ul li{
        margin-left: 0;
        margin-bottom: 1rem;
    }

}