.background-bloqueado {
    display: flex;
    width: 100%;
    background-color: #03B441;
    height: 20%;
    padding: 10px;
    justify-content: center;
    align-items: center
    
}

.texto-bloqueado{
    font-size: 18px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}