.divisor {
    width: 90%;
    align-self: center;
    height: fit-content;
}

.data_centralizada {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

.linha {
    width: 100%;
    height: 1px;
    background-color: #BDBDBD;
}

.data{
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    color: #6b6666;
    padding: 0 8px;
}